<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.wemeet.kele.mapper.FavoriteMapper">
    <select id="listFavoriteByUser" resultType="me.wemeet.kele.entity.Song">
        SELECT s.* FROM favorite f LEFT JOIN song s ON f.song_id = s.id WHERE f.user_id = #{userId} ORDER BY f.create_at DESC
    </select>

    <select id="allFavoriteByUser" resultType="me.wemeet.kele.entity.Song">
        SELECT s.id, s.songmid, s.source FROM favorite f LEFT JOIN song s ON f.song_id = s.id WHERE f.user_id = #{userId}
    </select>

    <select id="countByUserAndSong" resultType="java.lang.Integer">
        SELECT count(1) FROM favorite WHERE user_id = #{userId} AND song_id = ${songId}
    </select>

    <delete id="deleteByUserAndSong">
        DELETE FROM favorite WHERE user_id = #{userId} AND song_id = #{songId}
    </delete>
</mapper>
