<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.wemeet.kele.mapper.FavoriteMapper">
    <select id="listFavoriteByUser" resultType="me.wemeet.kele.entity.Song">
        SELECT song.* FROM favorite LEFT JOIN song ON favorite.user_id = #{userId} AND favorite.song_id = song.id
    </select>

    <select id="allFavoriteByUser" resultType="me.wemeet.kele.entity.Song">
        SELECT song.id, song.songmid, song.source FROM favorite LEFT JOIN song ON favorite.user_id = #{userId} AND favorite.song_id = song.id
    </select>

    <select id="countByUserAndSong" resultType="java.lang.Integer">
        SELECT count(1) FROM favorite WHERE user_id = #{userId} AND song_id = ${songId}
    </select>

    <delete id="deleteByUserAndSong">
        DELETE FROM favorite WHERE user_id = #{userId} AND song_id = #{songId}
    </delete>
</mapper>
