<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.wemeet.kele.mapper.PlaylistMapper">
    <select id="listByFavorite" resultType="me.wemeet.kele.entity.Playlist">
        SELECT p.*
        FROM playlist_favorite pf LEFT JOIN playlist p
        ON pf.playlist_id = p.id
        WHERE pf.user_id = #{userId}
        ORDER BY pf.create_at DESC
    </select>
    <select id="listSongsByPlaylist" resultType="me.wemeet.kele.entity.Song">
        SELECT s.* FROM playlist_song ps LEFT JOIN song s ON ps.song_id = s.id WHERE ps.playlist_id = #{playlistId} ORDER BY ps.create_at DESC
    </select>
    <select id="getUser" resultType="me.wemeet.kele.entity.User">
        SELECT u.id, u.name, u.nick_name, u.avatar_url FROM user u WHERE u.id = #{createBy}
    </select>
    <select id="countFavorite" resultType="long">
        SELECT COUNT(1) FROM playlist_favorite pf, playlist p WHERE pf.user_id = #{userId} and pf.playlist_id = p.id and p.source = #{source} and p.mid = #{mid}
    </select>
    <select id="countKlFavorite" resultType="long">
        SELECT COUNT(1) FROM playlist_favorite pf WHERE pf.user_id = #{userId} and pf.playlist_id = #{pid}
    </select>
</mapper>
